.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
}
.nav-logo{
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
}
.nav-contact{
    border-radius: 50px;
    padding: 10px 38px;
    background: #fff;
    color: #262626;
}
.nav-signin {
    padding: 10px 20px;
    background: #00CFFF;
    color: #fff;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
}
.nav-signin:hover {
    background: #008fb3;
}
/* Sign Out Button */
.nav-signout {
  padding: 10px 20px;
  background: #ff4b5c;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  margin-left: 10px;
  transition: background 0.3s ease;
}
.nav-signout:hover {
  background: #c0392b;
}